
.container{
background-color:#4682B4;
height: 46.6rem;
margin-top: 0;
/* padding-top: 9rem; */
display: flex;
align-items: center;
}

.inputContainer{
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  background-color: #20649D;
  color: rgb(247, 241, 241);
  /* margin-top: 7rem; */
  border-radius: 10px;
  padding-bottom: 4rem; 
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}

.inputContainer h3{
  text-align: center;
  margin:0;
  font-weight: bold;
  font-size: 2rem;
}

.inputContainer input{
  padding: 0.8rem 0.5rem;
  width: 95%;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  border: none;
}

.inputContainer label{
  margin: 0.2rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.inputContainer button{

  padding: 1rem 0;
  border-radius: 10px;
  width: 99%;
  border: none;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.inputContainer button:hover{
  background-color: #157cdc;
  color: white;
}

.linkTag{
  text-decoration: none;
  margin-top: 1rem;
  width: fit-content;
  color: white;
  margin-left: 1rem;
}


@media all and (min-width:720px) and (max-width:1180px){
  .container{
    height: 100vh;
    /* padding-top: 20rem */
    display: flex;
    align-items: center;
  }
  .inputContainer{
    /* margin-top: 10rem; */
    width: 60%;

  }
}


@media all and (min-width:200px) and (max-width:719px){
  .container{
    height: 100vh;
    /* padding-top: 20rem */
    display: flex;
    align-items: center;
  }
  .inputContainer{
    /* margin-top: 10rem; */
    width: 80%;
    /* margin-top: 2rem; */

  }
}


